<div class="row">
  <% follow.each do |follow| %>
    <div class="col-sm-3 col-md-3">
      <img src=" <%= follow.photo %>" height=200 alt="...">
      <h3><%= follow.name %></h3>
      <p></p>
    </div>
  <% end %>
</div>
